.container-skills {
    height: 100vh;
}

.wrapper-skils {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding:60px 200px;
}

.privacy-skills {
    position: relative;
    z-index: 989;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.skills {
    position: relative;
    z-index: 989;
    padding-top: 30px;
}


.skill {
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 45px;
    height: 95px;
    width: 90px;
    
}

.skill:nth-child(1) {
    background-color: rgba(255, 196, 0, 0.639);
    color: orangered;
}

.skill:nth-child(2) {
    background-color: rgba(135, 206, 250, 0.608);
    color: blue;
}

.skill:nth-child(3) {
    background-color: rgba(198, 65, 198, 0.451);
    color: rgb(91, 23, 91);
}

.skill:nth-child(4) {
    background-color: rgba(131, 131, 39, 0.472);
    color: yellow;
}

.skill:nth-child(5) {
    background-color: rgba(249, 130, 150, 0.574);
    color: rgb(253, 210, 218);
}

.skill:nth-child(6) {
    background-color: rgba(247, 69, 4, 0.481);
    color: rgb(226, 63, 3);
}

.skill:nth-child(7) {
    background-color: rgba(135, 206, 250, 0.474);
    color: blue;
}

.skill:nth-child(8) {
    background-color: rgba(96, 143, 4, 0.453);
    color: rgb(31, 169, 31);
}

.skill:nth-child(9) {
    background-color: rgba(24, 74, 105, 0.469);
    color: rgba(25, 25, 138, 0.838);
}

.skill:nth-child(10) {
    background-color: rgba(255, 255, 0, 0.43);
    color:  rgba(0, 0, 255, 0.903);
}


.car {
    height: 65px;
    width: 60px;
    margin-top: 15px;
}

.skill:hover {
    box-shadow: 0 5px 30px  rgb(255, 255, 255);
}

.top {
    text-align: center;
    margin-top: 80px;
    z-index: 800;
    position: relative;
}

.sfondo-skills {
    display: flex;
    position: absolute;
    min-height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    -webkit-filter: blur(10px);
    z-index: 1;
    padding-top: 200px;
}

.skill h3 {
 color: black;
 margin-top: 20px;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media screen and (max-width: 768px) {
    .sfondo {
       width: 100%;
       margin-top: -80px;
    }
    .wrapper-skils {
       padding: 0;
    }
  }

  @media screen and (max-width: 1100px) {
    .wrapper-skils {
        padding: 0;
     }
  }