

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button {
  padding: 11px 26px 11px 26px;
  border: none;
  border-radius: 34px;
}

.app{
  color: var(--black);
  overflow: hidden;
}

@media screen and (max-width: 980px) {
  .app {
    padding: 0;
  }
}
